* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Song Myung", serif;
}


body {
    background: white;
    font-family: "Rubik", sans-serif;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: #F6F6F9;
    height: 332px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    margin-bottom: 40px;
}

.header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
}

.header__item {
    font-family: Rubik;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #295091;
    background: white;
    padding: 3px 6px 4px 8px;
    border-radius: 5px;
    text-decoration: none;
}

.header__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #7A7A7A;
}

.money {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #285193;
    margin-left: 20px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 51.9px;
}

.header__input {
    display: flex;
    gap: 14px;
    align-items: center;
}

.input {
    max-width: 145px;
    min-height: 40px;
    border-radius: 5px;
    background: white;
    border: none;
}

.input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #CCCCCC;
    padding-left: 15px;


}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 22px;
}

.search {
    padding: 8px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.header__lang {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 11px 8px 10px 11px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.flag {
    max-width: 19.93px;
    min-height: 19.9px;
}

.header__translate {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #535353;
}

.btn {
    max-width: 146px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 11px 12px 8px 10px;
    gap: 7px;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    cursor: pointer;
}


.header__menus {
    display: flex;
    background: white;
    height: 68px;
    padding: 22px;
    margin-bottom: 18px;

}

.header__menu {
    display: flex;
    list-style-type: none;
    gap: 27px;
}

.header__doc {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color:
        #515151;
}

.header__nrg {
    height: 99px;
}

.header__doc__politics {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #295091;
}

.hero__text {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-top: 17px;
}

.hero__inputs {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

textarea {
    max-width: 600px;
    min-height: 307px;
    border-radius: 5px;
    border: 2px;
    opacity: 0.3px;
    background: #F1F1F1;
    border: 2px solid #285193;
    padding: 15px 0 14px 16px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #888888;
}

.password {
    display: flex;
    gap: 18px;
}

.input__passwor {
    max-width: 221px;
    min-height: 50px;
    background: #FBFBFB;
    border: 2px solid #285193
}

input::placeholder {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #888888;
}

.parol {
    font-family: Song Myung;
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-top: 11px;
}

input {
    width: 600px;
    height: 50px;
    border-radius: 5px;
    border: 2px;
    opacity: 0.3px;
    background: #F1F1F1;
    border: 2px solid #285193;
    padding: 15px 0 14px 16px;
}

.input__btn {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 12px 16px 14px 16px;
    border-radius: 5px;
    border: 2px;
    opacity: 0.3px;
    background: #FBFBFB;
    border: 2px solid #285193;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #888888;
}

.hero__btn {
    max-width: 221px;
    min-height: 50px;
    background: #295093;
    border: 2px solid #2851938A;
    border-radius: 2px;
    margin-top: 20px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding: 15px 61px;
}

.contact__center{
    max-width: 510px;
    min-height: 280px;
    border-radius: 5px;
    border: 2px solid #BCC3CD;
    box-shadow: -15px 15px 0px 2px#39393940;
    padding: 23px 20px 23px 25px;
}

.namanganliklar{
    max-width: 329px;
    min-height: 33px;
    font-family: Rubik;
font-size: 28px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0em;
text-align: right;
color:#295091;
margin-left: 160px;
margin-bottom: 21px;
}

.hero__inputs__email{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.Social__networks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
}

.hero__logos img{
    max-width: 32px;
    min-height: 32px;
}

.hero__logos{
   gap: 13px;
   cursor: pointer;
}

.hero__telegram{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
}

.hero__Subscribe{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 10px 6px 9px;
    border-radius: 5px;
    background: #295091;
border: none;
font-family: Rubik;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: white;
cursor: pointer;
}

.hero__contact{
    font-family: Rubik;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #888888;
}
.mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.mobile__device{
    gap: 13px;
    cursor: pointer;
}

.hero__contactt{
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #888888;
}


.footer {
    min-height: 225px;
    background: #295093;
    margin-top: 40px;
}

.namanganlik {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.namanganlik__item {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    background: #133C82;
    color: white;
    padding: 10px 12px 6px 9px;
    border-radius: 5px;
    text-decoration: none;
}

.namanganlik__text {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-left: 198px;
    margin-right: 17px;
}

.footer__btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 10px 11px 9px 9px;
    border-radius: 5px;
    border: none;
    gap: 6px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #295093;
}

.blue {
    max-width: 1200px;
    min-height: 3px;
    background: #133C82;
    margin-top: 20px;
}

.about__site {
    display: flex;
    align-items: center;
    gap: 115px;
    margin-top: 12px;
}

.the__site {
    max-width: 365px;
    min-height: 121px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.site {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.the__site__advertising {
    max-width: 163px;
    min-height: 106px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.the__site__team {
    max-width: 225px;
    min-height: 106px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}