* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: "Rubik", sans-serif;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: #F6F6F9;
    height: 332px;
}



.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    margin-bottom: 40px;
}

.header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
}

.header__item {
    font-family: Rubik;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #295091;
    background: white;
    padding: 3px 6px 4px 8px;
    border-radius: 5px;
    text-decoration: none;
}

.header__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #7A7A7A;
}

.money {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #285193;
    margin-left: 20px;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 22px;
}

.search {
    padding: 8px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.header__lang {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 11px 8px 10px 11px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.flag {
    max-width: 19.93px;
    min-height: 19.9px;
}

.header__translate {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #535353;
}


.btn {
    max-width: 146px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    padding: 11px 12px 8px 10px;
    gap: 7px;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    cursor: pointer;
}


.header__menus {
    display: flex;
    background: white;
    height: 68px;
    padding: 22px;
    margin-bottom: 18px;

}

.header__menu {
    display: flex;
    list-style-type: none;
    gap: 27px;
}

.header__doc {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color:
        #515151;
}

.header__nrg {
    height: 99px;
}

.header__doc__politics {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #295091;
}


.covid {
    margin-top: 20px;
}

.covid__hero {
    display: flex;
    align-items: center;
    height: 133px;
    background: #F6F6F9;
    border-radius: 5px;
    padding: 30px 0 29px 35px;
}

.hero__covid {
    display: flex;
    align-items: center;
    gap: 19px;
}

.hero__covid__img {
    max-width: 43px;
    min-height: 45px;
}

.hero__covid__text {
    max-width: 232px;
    min-height: 50px;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.red {
    max-width: 2px;
    min-height: 74px;
    margin-left: 71px;
    margin-right: 29px;
    background: #EB5569;

}

.hero__infected {
    display: flex;
    align-items: center;
    gap: 19px;
    /* border: 1px solid red; */
}

.hero__infected__img {
    max-width: 38px;
    min-height: 40px;
}

.hero__infected__text {
    max-width: 161px;
    min-height: 52px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #DB0000;
}

.infected__text {
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.pink {
    max-width: 2px;
    min-height: 49px;
    color: #F4CCD1;
    margin-left: 42px;
    margin-right: 29px;
}

.hero__recovered {
    display: flex;
    align-items: center;
    gap: 19px;
}

.hero__recovered__img {
    max-width: 38px;
    min-height: 40px;
}

.hero__recovered__text {
    max-width: 161px;
    min-height: 52px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #05B135;
}

.recovered__text {
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.hero__died {
    display: flex;
    align-items: center;
    gap: 19px;
}

.hero__died__img {
    max-width: 38px;
    min-height: 38px;
}

.hero__died__text {
    max-width: 161px;
    min-height: 52px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.died__text {
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}


.last__news {
    display: flex;
    /* align-items: center; */
    gap: 31px;
}

.last__news__left {
    padding: 19px 5px 12px 6px;
}

.last__news__left__btn {
    font-family: Rubik;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    background: #295093;
    border: none;
    padding: 10px 32px 10px 32px;
    border-radius: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.last__news__item {
    max-width: 198px;
    min-height: 26px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-bottom: 13px;
}

.last__news__card {
    margin-bottom: 18px;
    display: flex;
    gap: 19px;
}

.last__news__card__img {
    max-width: 252px;
    min-height: 143px;
}


.last__news__card__word {
    max-width: 434px;
    min-height: 42px;
    font-family: Rubik;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #202020;
}

.last__news__card__text {
    max-width: 512px;
    min-height: 55px;
    font-family: Rubik;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #434343;
    margin-top: 8px;
}

.last__news__logo {
    display: flex;
    gap: 5px;
    margin-top: 12px;
}

.last__news__logo__time {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #6B6D97;
}

.last__news__right {
    margin-top: 27px;
    max-width: 408px;
    min-height: 1080px;
}

.last__news__Mostpopular {
    background: #F6F6F9;
    max-width: 386px;
    min-height: 542px;
    border-radius: 5px;
    padding: 16px 20px 18px 20px;
    margin-bottom: 20px;
}

.news {
    max-width: 280px;
    min-height: 26px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #202020;
    margin-bottom: 6px;
}

.fact__text {
    max-width: 347px;
    min-height: 62px;
    font-family: Rubik;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #202020;
    margin-bottom: 11px;
}

.grey {
    max-width: 346px;
    min-height: 4px;
    color: #E4E4E4;
    margin-top: 14px;
    margin-bottom: 18px;
}

.last__news__logo__times {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #6B6D97;
}

.last__news__ucell {
    max-width: 386px;
    min-height: 477px;
    border-radius: 5px;
    margin-bottom: 38px;
}


.footer {
    min-height: 225px;
    background: #295093;
    margin-top: 40px;
}

.namanganlik {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.namanganlik__item {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    background: #133C82;
    color: white;
    padding: 10px 12px 6px 9px;
    border-radius: 5px;
    text-decoration: none;
}

.namanganlik__text {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-left: 198px;
    margin-right: 17px;
}

.footer__btn {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 10px 11px 9px 9px;
    border-radius: 5px;
    border: none;
    gap: 6px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #295093;
}

.blue {
    max-width: 1200px;
    min-height: 3px;
    background: #133C82;
    margin-top: 20px;
}

.about__site {
    display: flex;
    align-items: center;
    gap: 115px;
    margin-top: 12px;
}

.the__site {
    max-width: 365px;
    min-height: 121px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.site {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.the__site__advertising {
    max-width: 163px;
    min-height: 106px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.the__site__team {
    max-width: 225px;
    min-height: 106px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}